.card-container {
 display: flex;
 flex-direction: column;
 background-color: darksalmon;
 border: 2px solid green;
 border-radius: 4px;
 padding: 10px;
 cursor: pointer;
 -moz-osx-font-smoothing: grayscale;
 backface-visibility: hidden;
 transform: translate3d(0);
 transition:transform 0.25s ease-out;
 
}
.card-container:hover {
    transform: scale(1.05);
 }